<h2>CheckBox Basico</h2>
<mat-checkbox class="margen" [checked]="true"> Seleccioname1</mat-checkbox>
<br />
<mat-checkbox class="margen" color="primary" [checked]="false" [disabled]="true"> Seleccioname2</mat-checkbox>
<br />
<mat-checkbox class="margen" color="primary" [checked]="false" [disabled]="false" [indeterminate]="true"> Seleccioname3</mat-checkbox>
<br />
<mat-checkbox class="margen" color="primary" [checked]="false" [disabled]="false" labelPosition="before"> Seleccioname4</mat-checkbox>
<br />
<mat-checkbox class="margen" color="primary" [checked]="false" [disabled]="false" labelPosition="after"> Seleccioname4</mat-checkbox>
<br />
<mat-checkbox class="margen"  (change)="pulsaronLaCaja($event.checked)"  color="primary" [checked]="false" [disabled]="false" labelPosition="after" > Seleccioname5</mat-checkbox>

<mat-checkbox class="margen"
    [indeterminate]="true"
    (change)="pulsaronLaCaja($event.checked)"
    (indeterminateChange)="pulsaronTristate($event)">
      Seleccioname6</mat-checkbox>

<mat-card class="margin">
  <mat-card-content>
        <section class="example-section">
          <span>
            <mat-checkbox class="example-margin"
                          [checked]="allComplete"
                          [color]="task.color"
                          [indeterminate]="someComplete()"
                          (change)="setAll($event.checked)">
              {{task.name}}
            </mat-checkbox>

          </span>


          <span class="example-section">
            <ul>
              <li *ngFor="let subtarea of task.subtasks">
                <mat-checkbox [(ngModel)]="subtarea.completed"
                              [color]="subtarea.color"
                              (ngModelChange)="updateAllComplete()">
                  {{subtarea.name}}
                </mat-checkbox>
              </li>
            </ul>
          </span>
      </section>
      </mat-card-content>
    </mat-card>



    <p *ngIf="allComplete"> Todas seleccionadas</p>

    
